<header>
  <div>
    <img ngSrc="/images/logo.svg" alt="Flag Archive Logo" width="24" height="24" />
    Flag Archive
    <flag-pill [type]="pillType.Warning">Playground</flag-pill>
  </div>
  <button flagButton ghost [flagDropdownTrigger]="dropdown" [(isOpen)]="isMenuOpen">
    <flag-icon>menu</flag-icon>
  </button>
</header>
<main>
  <div>
    <button flagButton (click)="openDialog()">
      Open dialog
    </button>
    <flag-form-field>
      <flag-checkbox [checked]="isMenuOpen" (click)="toggleMenu()">
        Menu is open
      </flag-checkbox>
    </flag-form-field>
  </div>
  <flag-year-picker [max]="20" [min]="5" [rangeSize]="12" [selected]="12" />
</main>

<ng-template #dropdown>
  <flag-card>
    <flag-list-item role="button" (click)="closeMenu()">
      <flag-icon>edit</flag-icon>
      Create
    </flag-list-item>
    <flag-list-item role="button" (click)="closeMenu()">
      <flag-icon>logout</flag-icon>
      Log out
    </flag-list-item>
  </flag-card>
</ng-template>

<ng-template #dialog>
  <flag-dialog [large]="true">
    <flag-dialog-header (close)="closeDialog()">
      Test dialog
    </flag-dialog-header>
    <flag-dialog-content>
      This is a test dialog.
    </flag-dialog-content>
    <flag-dialog-footer>
      <button flagButton (click)="closeDialog()">
        Annuleren
      </button>
    </flag-dialog-footer>
  </flag-dialog>  
</ng-template>