header {
  box-sizing: border-box;
  display: flex;
  height: var(--flag-size-xl);
  justify-content: space-between;
  padding: var(--flag-space-sm) var(--flag-space-lg) 0;
  text-transform: uppercase;

  div {
    align-items: center;
    display: flex;
    gap: var(--flag-space-sm);

    img {
      width: var(--flag-size-sm);
    }
  
    flag-pill {
      text-transform: initial;
    }  
  }
}

main {
  display: flex;
  gap: var(--flag-space-lg);
  padding: var(--flag-space-lg);
}
