:host {
  align-items: center;
  display: grid;
  font-size: var(--flag-font-size-md);
  font-weight: var(--flag-font-weight-bold);
  grid-template-columns: 1fr auto;
  padding: var(--flag-space-lg);
}
