:host {
  align-items: center;
  color: var(--flag-color-primary-500);
  display: flex;
  font-family: var(--flag-font-family-primary);
}

button {
  height: var(--flag-size-md);
  min-width: min-content;
  padding-inline: var(--flag-space-sm);
}

p {
  font-weight: var(--flag-font-weight-bold);
  margin-inline: var(--flag-space-xs);
  user-select: none;
}
